<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkjframework.core.business.mapper.RmsClientDetailsMapper">
    <resultMap id="baseResultMap" type="com.cdkjframework.entity.user.security.SecurityDetailsEntity">
        <result column="client_id" property="clientId" jdbcType="VARCHAR"/>
        <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR"/>
        <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
        <result column="scope" property="scope" jdbcType="VARCHAR"/>
        <result column="authorized_grant_types" property="authorizedGrantTypes" jdbcType="VARCHAR"/>
        <result column="redirect_uri" property="redirectUri" jdbcType="VARCHAR"/>
        <result column="authorities" property="authorities" jdbcType="VARCHAR"/>
        <result column="access_token_validity" property="accessTokenValidity" jdbcType="INTEGER"/>
        <result column="refresh_token_validity" property="refreshTokenValidity" jdbcType="INTEGER"/>
        <result column="additional_information" property="additionalInformation" jdbcType="VARCHAR"/>
        <result column="auto_approve_scopes" property="autoApproveScopes" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="base_Column_List">
            client_id,
            resource_ids,
            client_secret,
            scope,
            authorized_grant_types,
            redirect_uri,
            authorities,
            access_token_validity,
            refresh_token_validity,
            additional_information,
            auto_approve_scopes
    </sql>

    <select id="findEntity" parameterType="com.cdkjframework.entity.user.security.SecurityDetailsEntity"
            resultMap="baseResultMap">
        SELECT
        <include refid="base_Column_List"></include>
        FROM rms_client_details
        <where>
            <if test="clientId != null  and clientId != '' ">
                AND client_id = #{clientId,jdbcType=VARCHAR}
            </if>
            <if test="resourceIds != null  and resourceIds != '' ">
                AND resource_ids = #{resourceIds,jdbcType=VARCHAR}
            </if>
            <if test="clientSecret != null  and clientSecret != '' ">
                AND client_secret = #{clientSecret,jdbcType=VARCHAR}
            </if>
            <if test="scope != null  and scope != '' ">
                AND scope = #{scope,jdbcType=VARCHAR}
            </if>
            <if test="authorizedGrantTypes != null  and authorizedGrantTypes != '' ">
                AND authorized_grant_types = #{authorizedGrantTypes,jdbcType=VARCHAR}
            </if>
            <if test="redirectUri != null  and redirectUri != '' ">
                AND redirect_uri = #{redirectUri,jdbcType=VARCHAR}
            </if>
            <if test="authorities != null  and authorities != '' ">
                AND authorities = #{authorities,jdbcType=VARCHAR}
            </if>
            <if test="accessTokenValidity != null ">
                AND access_token_validity = #{accessTokenValidity,jdbcType=INTEGER}
            </if>
            <if test="refreshTokenValidity != null ">
                AND refresh_token_validity = #{refreshTokenValidity,jdbcType=INTEGER}
            </if>
            <if test="additionalInformation != null  and additionalInformation != '' ">
                AND additional_information = #{additionalInformation,jdbcType=VARCHAR}
            </if>
            <if test="autoApproveScopes != null  and autoApproveScopes != '' ">
                AND auto_approve_scopes = #{autoApproveScopes,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>

